---
version: "2.1"
services:
  basedbin:
    image: cachyos-website-api:latest
    container_name: cachyos-website-api
    hostname: cachyoswebsiteapi
    environment:
      - DATABASE_URL=website-api.db
      - RUNNING_ADDRESS=0.0.0.0
      - RUNNING_PORT=8088 # Defaults to 39764
    volumes:
      - ./website-api.db:/website-api.db
    ports:
      - 8088:8088
    restart: always
