---
---

<section class="py-28 overflow-hidden" id="company">
  <div class="max-w-4xl mx-auto px-4 sm:px-6">
    <div>
      <div class="text-center pb-10 md:pb-16 max-w-4xl mx-auto">
        <h3
          class="mb-20 text-2xl md:text-4xl xl:text-6xl text-center font-bold font-heading tracking-px-n leading-none"
        >
          About Company
        </h3>
        <div class="max-w-3xl mx-auto">
          <p class="text-lg text-slate-600 mb-8 text-center mx-auto dark:text-slate-400">
            <span class="font-semibold underline decoration-1 decoration-primary-600 underline-offset-2">CachyOS</span> is
            a user-friendly and highly optimized distribution based on Arch Linux.
            Our distribution offers a seamless installation process and a range of customization options to personalize your computing experience.
            Whether you're a beginner or an experienced user, CachyOS delivers optimized performance while maintaining its simplicity.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
