---
const items = [
  [
    {
      name: 'Soong(Vilda)',
      description:
        'Contibutor, Wiki, Documentation, Tutorials',
    },
    {
      name: 'teppyboy',
      description:
        'PasteBin, Wiki',
    },
    {
      name: 'firelzrd',
      description:
        'BORE scheduler',
    },
    {
      name: 'NextWorksGFX',
      description:
        'GFX, ART',
    },
    {
      name: 'ventureo',
      description:
        'ARU',
    },
  ],
];

---

<section class="py-28 overflow-hidden" id="contibutors">
  <div class="container px-4 mx-auto">
    <h3 class="mb-20 text-2xl md:text-4xl xl:text-6xl text-center font-bold font-heading tracking-px-n leading-none" data-config-id="auto-txt-1-6">Our Contributors!</h3>
    {
      items.map((subitems) => (
        <div class="max-w-5xl mx-auto">
          <div class="flex flex-wrap items-center justify-center">
            {subitems.map(({ name, description }) => (
              <div class="w-full md:w-1/5 p-3">
                <div class="max-w-max mx-auto">
                  <h3 class="mb-1 text-lg font-bold font-heading leading-snug">{name}</h3>
                  <p class="font-medium text-gray-600 dark:text-gray-400" data-config-id="auto-txt-3-6">{description}</p>
                </div>
              </div>
            ))}
          </div>
        </div>
      ))
    }
  </div>
</section>
