---
import { Image } from '@astrojs/image/components';
import DropdownMenu from '~/components/widgets/DropdownMenu'

interface DropdownMenuProps {
  title: string;
  direct_url: string;
  srcforge_url?: string;
}

const items = [
  [
    {
      title: 'KDE PLASMA',
      description:
        'Empower Your Computing with KDE Plasma - Browse the web, stay connected with friends and family, manage files, enjoy multimedia, and work efficiently in a visually stunning environment that adapts to your needs. Experience the added benefits of using the best in Free and Open Source Software with a focus on security, privacy, and peace of mind.',
      direct_url: 'https://mirror.cachyos.org/ISO/kde/230305/cachyos-kde-linux-230305.iso',
      srcforge_url: 'https://sourceforge.net/projects/cachyos-arch/files/gui-installer/kde/230305/cachyos-kde-linux-230305.iso/download',
      preview: import('~/assets/images/kde.png'),
    },
    {
      title: 'GNOME',
      description:
        'Elegant and User-Friendly: GNOME is a contemporary desktop environment that boasts a clean and attractive design, with a focus on ease of use.',
      direct_url: 'https://mirror.cachyos.org/ISO/gnome/230305/cachyos-gnome-linux-230305.iso',
      preview: import('~/assets/images/gnome.png'),
    },
    {
      title: 'XFCE',
      description:
        'Lightweight and Efficient: XFCE is a desktop environment designed for Unix-like operating systems that prioritizes speed and low system usage, without sacrificing visual appeal and user-friendliness.',
      preview: import('~/assets/images/xfce.png'),
    },
  ],
];

---

<section class="scroll-mt-16">
  <div class="flex x-auto space-y-6 justify-center md:space-y-0 p-9">
    {
      items.map((subitems) => (
        <div class="container sm:px-8 mx-auto">
          {subitems.map(({ title, description, direct_url, srcforge_url, preview }) => (
            <div class="flex flex-wrap items-center -m-8 my-20 pb-[calc(20vh)]">
              <div class="w-full md:w-1/2 p-8">
                <h2 class="mb-9 text-6xl md:text-8xl xl:text-10xl font-bold font-heading tracking-px-n leading-none">{title}</h2>
                <p class="mb-10 text-lg text-gray-900 dark:text-slate-400 font-medium leading-relaxed md:max-w-md">{description}</p>
                <div class="mb-11 md:inline-block rounded-xl shadow-4xl bg-primary-500 dark:bg-primary-700 dropdown">
                  {direct_url &&
                    <DropdownMenu client:visible data={ {title, direct_url, srcforge_url} as DropdownMenuProps } />
                  }
                  {!direct_url && !srcforge_url &&
                    <div>
                      <button type="button" class="btn-under-constuction py-4 px-6">Under construction 🚧</button>
                    </div>
                  }
                </div>
              </div>
              <div class="w-full md:w-1/2 p-8">
                {preview &&
                  <Image
                    src={preview}
                    class="transform hover:-translate-x-16 rounded-xl transition ease-in-out duration-1000"
                    quality={100}
                    alt=""
                    aspectRatio={1920 / 1080}
                    loading="eager"
                    width={1920}
                    height={1080}
                  />
                }
              </div>
            </div>
          ))}
        </div>
      ))
    }
  </div>
</section>
