---
import { Icon } from 'astro-icon';
---

<section class="bg-primary-100 dark:bg-slate-800">
  <div class="max-w-5xl mx-auto px-4 sm:px-6 py-4 text-lg text-center font-medium">
    <span class="font-bold">
      <Icon name="tabler:alert-triangle" class="w-7 h-7 text-orange-600 inline-block align-text-bottom" /> WARNING:</span
    > You can install any edition provided by CachyOS using any GUI ISO from online installer.
    <ul class="list-none min-w-max py-5">
      <li>KDE</li>
      <li>GNOME</li>
      <li>XFCE</li>
      <li>CuteFish</li>
      <li>i3WM</li>
      <li>Wayfire</li>
      <li>LXQT</li>
      <li>OpenBox</li>
    </ul>
  </div>
</section>
