---
import { Icon } from 'astro-icon';
---

<section class="bg-primary-100 dark:bg-slate-800">
  <div class="max-w-5xl mx-auto px-4 sm:px-6 py-4 text-lg text-center font-medium">
    <span class="font-bold">
      <Icon name="tabler:alert-triangle" class="w-7 h-7 text-orange-600 inline-block align-text-bottom" /> Select Your Preferred
      Edition:</span
    > Choose from a range of desktop environments including KDE, GNOME, XFCE, CuteFish, i3WM, Wayfire, LXQT, OpenBox, Cinnamon,
    UKUI, LXDE, Mate, Budgie, Qtile, Hyprland and Sway. Simply download and install using the online GUI ISO installer.
  </div>
</section>
