---
import { Icon } from 'astro-icon';

const items = [
  [
    {
      title: 'Enhance Your Performance with Optimized Packages',
      description:
        'CachyOS features desktop packages optimized for maximum performance with the latest LTO and x86-64-v3 optimization techniques, as well as improved security and performance enhancements.',
      icon: 'tabler:package',
    },
    {
      title: 'Choose Your Ideal Desktop Environment',
      description:
        'CachyOS offers a variety of popular desktop environments including KDE, GNOME, XFCE, CuteFish, i3WM, Wayfire, LXQT, OpenBox, Cinnamon, UKUI, LXDE, Mate, Budgie, Qtile, Hyprland and Sway. Select your preferred environment during the online installation process.',
      icon: 'tabler:rocket',
    },
    {
      title: 'Customizable Installation Process',
      description:
        'CachyOS offers a choice of two installers to fit your needs: a user-friendly GUI version based on Calamares, and a CLI-based option for those who prefer a streamlined, non-graphical installation experience.',
      icon: 'tabler:apps',
    },
  ],
  [
    {
      title: 'Power Up Your Computing with Robust Kernel Support',
      description:
        'CachyOS utilizes the advanced BORE Scheduler for enhanced performance, and offers a variety of scheduler options including CFS, PDS, BMQ, and TT. All kernels are compiled with optimized x86-64-v3, x86-64-v4 instructions and LTO for optimal speed and reliability.',
      icon: 'tabler:refresh',
    },
    {
      title: "Surf the Web Safely and Efficiently with CachyOS's Browser",
      description:
        'Our default browser, Cachy-Browser, is a fork of the well-known Firefox with added security features and optimized performance. Patches from the librewolf browser are also incorporated for an even better browsing experience.',
      icon: 'tabler:browser',
    },
  ],
];
---

<section class="scroll-mt-16" id="features">
  <div class="px-4 py-16 mx-auto max-w-4xl lg:px-8 lg:py-20">
    <div class="mb-10 md:mx-auto sm:text-center md:mb-12 max-w-xl">
      <p class="text-base text-primary-600 dark:text-primary-200 font-semibold tracking-wide uppercase">Features</p>
      <h2 class="text-2xl md:text-3xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
        Discover the Benefits of <span class="whitespace-nowrap">CachyOS</span>
      </h2>
      <p class="max-w-xl mx-auto sm:text-center text-lg text-gray-600 dark:text-slate-400">
        Experience Cutting-Edge Linux Performance with CachyOS - A distribution built on Arch Linux, CachyOS features
        the optimized linux-cachyos kernel utilizing the advanced BORE Scheduler for unparalleled performance.
      </p>
    </div>
    <div class="grid mx-auto space-y-6 md:grid-cols-2 md:space-y-0">
      {
        items.map((subitems) => (
          <div class="space-y-8 sm:px-8">
            {subitems.map(({ title, description, icon }) => (
              <div class="flex flex-row max-w-md">
                <div class="mb-4 mr-4">
                  <div class="flex items-center justify-center w-12 h-12 rounded-full bg-primary-500 dark:bg-primary-700">
                    {icon && <Icon name={icon} class="w-6 h-6 icon-light" />}
                  </div>
                </div>
                <div>
                  <h3 class="mb-3 text-sm font-bold">{title}</h3>
                  <p class="text-gray-600 dark:text-slate-400">{description}</p>
                </div>
              </div>
            ))}
          </div>
        ))
      }
    </div>
  </div>
</section>
