---
import { Icon } from 'astro-icon';

const donationbtns = [
  { label: 'Paypal', icon: 'tabler:brand-paypal', href: 'https://paypal.me/pttrr' },
  { label: 'Patreon', icon: 'tabler:brand-patreon', href: 'https://www.patreon.com/CachyOS' },
];
---

<section>
  <div class="max-w-6xl mx-auto px-4 sm:px-6 overflow-hidden">
    <div class="py-12 md:py-20">
      <div class="py-4 sm:py-6 lg:py-8">
        <div class="flex flex-wrap md:-mx-8">
          <div class="w-full lg:w-1/2 px-0 sm:px-8">
            <div class="mb-12 lg:mb-0 pb-12 lg:pb-0 border-b lg:border-b-0">
              <div
                class="w-11 h-11 flex items-center justify-center p-[0.1875rem] rounded-full ring-1 ring-slate-900/10 shadow overflow-hidden dark:bg-slate-500 dark:highlight-white/10"
              >
                <Icon class="aspect-w-1 w-6 h-6 aspect-h-1 bg-[length:100%]" name="tabler:cash" />
              </div>

              <h2 class="mb-4 text-3xl lg:text-4xl font-bold font-heading">Support Our Efforts.</h2>

              <p class="mb-8 text-xl text-gray-600 dark:text-slate-400">
                Your generosity is appreciated - Thank you for supporting our work in the open-source community.
              </p>

              <div class="flex w-full sm:w-auto space-x-4">
                {
                  donationbtns.map(({ label, href, icon }) => (
                    <a
                      class="bg-slate-900 hover:bg-slate-700 focus:outline-none focus:ring-2 focus:ring-slate-400 focus:ring-offset-2 focus:ring-offset-slate-50 text-white font-semibold h-12 px-6 rounded-lg w-full flex items-center justify-center sm:w-auto dark:bg-sky-600 dark:highlight-white/20 dark:hover:bg-sky-700"
                      href={href}
                      target="_blank"
                      rel="noopener"
                    >
                      <Icon name={icon} class="w-5 h-5 mr-1 -ml-1.5" /> {label}
                    </a>
                  ))
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
