---
import { Icon } from 'astro-icon';
import { Picture } from '@astrojs/image/components';

//class="bg-slate-900 hover:bg-slate-700 focus:outline-none focus:ring-2 focus:ring-slate-400 focus:ring-offset-2 focus:ring-offset-slate-50 text-white font-semibold h-12 px-6 rounded-lg w-full flex items-center justify-center sm:w-auto dark:bg-sky-500 dark:highlight-white/20 dark:hover:bg-sky-400"
---

<section>
  <div class="max-w-4xl mx-auto px-4 sm:px-6">
    <div class="py-12 md:py-20">
      <div class="text-center pb-10 md:pb-16 max-w-4xl mx-auto">
        <h1
          class="text-4xl sm:text-5xl lg:text-6xl md:text-[3.20rem] font-extrabold leading-tighter tracking-tighter mb-4 font-heading"
        >
          A
          <span>Linux</span>
          distribution based on
          <span class="sm:whitespace-nowrap">Arch Linux</span>
        </h1>
        <div class="max-w-3xl mx-auto">
          <p class="text-lg text-slate-600 mb-8 text-center mx-auto dark:text-slate-400">
            <span class="font-semibold underline decoration-1 decoration-primary-600 underline-offset-2">CachyOS</span> is
            a distribution based on Arch Linux, that offers an easy installation, several customization options to suit every
            user, and special optimizations for improved performance while remaining simple.
          </p>
        </div>
        <div
          class="max-w-xs text-sm sm:mt-10 sm:max-w-md m-auto flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4"
        >
          <div class="flex w-full sm:w-auto">
            <a class="btn btn-primary sm:mb-0 w-full" href="/download">
              <Icon name="tabler:download" class="w-5 h-5 mr-1 -ml-1.5" /> Download
            </a>
          </div>
          <div class="flex w-full sm:w-auto">
            <a class="btn w-full" href="#features">Learn more</a>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="relative m-auto max-w-4xl">
        <Picture
          src={import('~/assets/images/hero.jpg')}
          class="mx-auto rounded-md w-full"
          widths={[400, 768, 1480]}
          sizes="(max-width: 767px) 400px, (max-width: 1479px) 768px, 1480px"
          alt="Hero Image"
          aspectRatio={1480 / 833}
          loading="eager"
          width={1480}
          height={833}
        />
      </div>
    </div>
  </div>
</section>
