---
import { Image } from 'astro:assets';
import cloudflareLogoSrc from '~/assets/images/CF_logo_stacked_whitetype.png';
---

<section class="py-20">
  <div class="container px-4 mx-auto">
    <div class="max-w-xl mx-auto mb-20 text-center">
      <h2 class="mt-8 text-5xl lg:text-6xl font-bold font-heading">Our Partners</h2>
    </div>
    <div class="flex flex-wrap justify-center -m-4">
      <div class="w-full md:w-1/2 lg:w-1/5 p-4">
        <div class="flex w-full h-32 items-center justify-center bg-slate-900 dark:bg-slate-600 rounded-lg">
          <div class="mb-6 p-4 max-w-max overflow-hidden">
            <a href="https://www.cloudflare.com/">
              <Image
                src={cloudflareLogoSrc}
                class="transform hover:scale-105 transition ease-in-out duration-1000"
                quality={90}
                alt="www.cloudflare.com"
                loading="eager"
                width={1277}
                height={432}
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
